.about
	.about__layer.section__layer
		.center
			.f-container
				.about__left
					img(src="img/mobile-about.png", alt="")
				.about__right
					h2.h2-title.about-title
						|Немного о нас
					p.subtitle.about-subtitle
						|Наша студия здесь, чтобы помочь вам
					p.about__text
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod.
					p.about__text
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod:
					ul.about__services-list
						li.about__services-list-item
						li.about__services-list-item
						li.about__services-list-item

					