.feedback.circle-section
	.circle-bg
	.feedback__layer.section__layer.circle__layer
		.cirle-hidden
		.center
			h2.h2-title.feedback-title
					|Отзывы о нас
			p.subtitle.feedback-subtitle
				|Чтобы убедиться в нашем проффесионализме, посмотрите, что говорят о нас клиенты
			.f-container