.feedback.circle-section
	.circle-bg
	.feedback__layer.section__layer.circle__layer
		.cirle-hidden
		.center
			h2.h2-title.feedback-title
					|Отзывы о нас
			p.subtitle.feedback-subtitle
				|Больше чем мы сами о себе о нас вам раскажут наши благодарные клиенты
			.f-container
				.feeaback-left
					.feedback__tabs-controls
						ul.feedback__tabs-controls-list(data-active="video")
							li.feedback__tabs-controls-list-item.active(data-tab="video")
								|Видео
							li.feedback__tabs-controls-list-item(data-tab="screenshot")
								|Скриншоты
							li.feedback__tabs-controls-list-item(data-tab="audio")
								|Аудио
							li.feedback__tabs-controls-list-item(data-tab="text")
								|Текст
					.feedback__tabs
							// Additional required wrapper
							.swiper-wrapper.feedback__tabs-wrapper
									.swiper-slide.feedback-slide(data-card="text")
										//- |текст2
										.feedback__tab
											.feedback-text
												.feedback-text__left
													.feedback-text__img-wrap
														img.feedback-text__img(src="https://demo.phlox.pro/music-band/wp-content/uploads/sites/95/2019/02/anthony-delanoix-15928-unsplash-1-1024x576.jpg", alt="")
												.feedback-text__right
													h4.feedback-text__name
														|Федор Петров
													p.feedback-text__text
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
									.swiper-slide.feedback-slide(data-card="screenshot")
										|скриншот
										.feedback__tab
											.feedback-screenshot
											//- .example__sound
											//- 	.example__sound-progress-wrap
											//- 	.example__sound-progress
											//- 	.example__sound-icons
											//- 	i.example__sound-play(title="Прослушать")
											//- 	+svg2('play').active-state
											//- 	+svg2('pause')
											//- 	p.example__sound-text
											//- 	|Ниша клиента
											//- 	<audio class="audio-sound" src="audio/1.mp3"></audio>
										//- .feedback__tab
										//- 	img(src="https://demo.phlox.pro/music-band/wp-content/uploads/sites/95/2019/02/anthony-delanoix-15928-unsplash-1-1024x576.jpg", alt="")
									.swiper-slide.feedback-slide(data-card="audio")
										|аудио
										.feedback__tab
											.feedback-audio
												img(src="https://demo.phlox.pro/music-band/wp-content/uploads/sites/95/2019/02/anthony-delanoix-15928-unsplash-1-1024x576.jpg", alt="")
										//- .feedback__tab
										//- 	img(src="https://demo.phlox.pro/music-band/wp-content/uploads/sites/95/2019/02/anthony-delanoix-15928-unsplash-1-1024x576.jpg", alt="")
									.swiper-slide.feedback-slide(data-card="text")
										//- |текст
										.feedback__tab
											.feedback-text
												.feedback-text__left
													.feedback-text__img-wrap
														img.feedback-text__img(src="https://demo.phlox.pro/music-band/wp-content/uploads/sites/95/2019/02/anthony-delanoix-15928-unsplash-1-1024x576.jpg", alt="")
												.feedback-text__right
													h4.feedback-text__name
														|Петр Васильев
													p.feedback-text__text
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
									.swiper-slide.feedback-slide(data-card="video")
										|видео
										.feedback__tab
											.feedback-video
												img(src="https://demo.phlox.pro/music-band/wp-content/uploads/sites/95/2019/02/anthony-delanoix-15928-unsplash-1-1024x576.jpg", alt="")
				
										//- .feedback__tab
										//- 	img(src="https://demo.phlox.pro/music-band/wp-content/uploads/sites/95/2019/02/anthony-delanoix-15928-unsplash-1-1024x576.jpg", alt="")
					//- .feedback-right
							//- .swiper-pagination
							//- .swiper-controls
							//- 	.swiper-control-prev.btn-control.wave
							//- 		i.large.material-icons
							//- 			|keyboard_arrow_up
							//- 	.swiper-control-next.btn-control.wave
							//- 		i.large.material-icons
							//- 			|keyboard_arrow_down