.footer
	.footer__layer.section__layer
			.center
				.f-container
					.footer__left
						h2.h2-title.footer-title
							|Наши контакты
						.footer__tel.footer-contact
							i.material-icons
								|contact_phone
							a(href="tel:+380974140212")
								|+380974140212
						.footer__email.footer-contact
							i.material-icons
								|mail
							a(href="mailto:bohdan1trush@gmail.com")
								|bohdan1trush@gmail.com
						.footer__address.footer-contact
							i.material-icons
								|location_on
							p
								|г. Житомир, просп. Независимости 71
					.footer__right
						div(style='overflow:hidden;width: 700px;position: relative;')
							iframe(width='700' height='440' src='https://maps.google.com/maps?width=700&height=440&hl=en&q=%D0%96%D0%B8%D1%82%D0%BE%D0%BC%D0%B8%D1%80%2C%20%D0%92%D0%B0%D1%82%D1%83%D1%82%D0%B8%D0%BD%D0%B0%2071+(Title)&ie=UTF8&t=p&z=16&iwloc=B&output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0')
							div(style='position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;')
								small(style='line-height: 1.8;font-size: 2px;background: #fff;')
									| Powered by 
									a(href='https://embedgooglemaps.com/de/') Embedgooglemaps DE
									|  &amp; 
									a(href='http://www.icyphoenix.com/') buy targeted traffic that converts
							style.
								#gmap_canvas img{max-width:none!important;background:none!important}
