header.header
	.header__layer.section__layer
			.f-container
				.header__top
					.header__top-btn
						a.main-btn.tap-popup-open(data-open="#callback-popup")
							span.btn-overlay
							span.btn-text
								|Связаться
					.header__top-logo
						img.header__logo-img(src="img/logo.png", alt="Logo")
					nav.header__top-nav
						ul.header__top-nav-list
							li.header__top-nav-list-item
								a.header__top-nav-link(href="#")
									|Портфолио
							li.header__top-nav-list-item
								a.header__top-nav-link(href="#")
									|Отзывы
							li.header__top-nav-list-item
								a.header__top-nav-link(href="#")
									|О нас
							li.header__top-nav-list-item
								a.header__top-nav-link(href="#")
									|Контакты



