.portfolio.circle-section#portfolio.scrollmagic-elem
	.circle-bg
	.portfolio__layer.section__layer.circle__layer
		h2.h2-title.portfolio-title
			|Наши работы
		p.subtitle.portfolio-subtitle
			|Посмотрите наши кейсы и примите правильное решение
		.cirle-hidden
		.portfolio-circle1
			i
				+svg2('Group-11')
		.portfolio-circle2
			i
				+svg2('Group-11')
		.center
			
			.f-container
					.portfolio-left
						picture
							source(type="image/webp" data-srcset="img/portfolio-img.webp")
							source(type="image/png" data-srcset="img/portfolio-img.png")
							img(src="img/portfolio-img.png", alt="Background" class="lazy")
					// Slider main container
					.portfolio-right
						.swiper-container
							// Additional required wrapper
							.swiper-wrapper
									.swiper-slide
										.portfolio-content
											.portfolio-card
												.portfolio-card-hover
													h3.portfolio-card__title
														|Argument
												picture
													source(type="image/webp" data-srcset="img/Portfolio/argumentagency.com-min.webp" class="swiper-lazy")
													source(type="image/png" data-srcset="img/Portfolio/argumentagency.com-min.png" class="swiper-lazy")
													//- img(data-src="img/Portfolio/argumentagency.com-min.webp", alt="" class="swiper-lazy")
													img(data-src="img/Portfolio/argumentagency.com-min.png", alt="" class="swiper-lazy")
									.swiper-slide
										.portfolio-content
											.portfolio-card
												.portfolio-card-hover
													h3.portfolio-card__title
														|CleanDom
												picture
													source(type="image/webp" data-srcset="img/Portfolio/cleandom.in.ua-min.webp" class="swiper-lazy")
													source(type="image/png" data-srcset="img/Portfolio/cleandom.in.ua-min.png" class="swiper-lazy")
													//- img(data-src="img/Portfolio/cleandom.in.ua-min.webp", alt="" class="swiper-lazy")
													img(data-src="img/Portfolio/cleandom.in.ua-min.png", alt="", class="swiper-lazy")
									.swiper-slide
										.portfolio-content
											.portfolio-card
												.portfolio-card-hover
													h3.portfolio-card__title
														|SilverDreams
												picture
													source(type="image/webp" data-srcset="img/Portfolio/dream925.com-min.webp" class="swiper-lazy")
													source(type="image/png" data-srcset="img/Portfolio/dream925.com-min.png" class="swiper-lazy")
													//- img(data-src="img/Portfolio/dream925.com-min.webp", alt="" class="swiper-lazy")
													img(data-src="img/Portfolio/dream925.com-min.png", alt="", class="swiper-lazy")
									.swiper-slide
										.portfolio-content
											.portfolio-card
												.portfolio-card-hover
													h3.portfolio-card__title
														|EasyEurope
												picture
													source(type="image/webp" data-srcset="img/Portfolio/easyeuropework.com.ua-min.webp" class="swiper-lazy")
													source(type="image/png" data-srcset="img/Portfolio/easyeuropework.com.ua-min.png" class="swiper-lazy")
													//- img(data-src="img/Portfolio/easyeuropework.com.ua-min.webp", alt="" class="swiper-lazy")
													img(data-src="img/Portfolio/easyeuropework.com.ua-min.png", alt="", class="swiper-lazy")
									.swiper-slide
										.portfolio-content
											.portfolio-card
												.portfolio-card-hover
													h3.portfolio-card__title
														|GranitDrev
												picture
													source(type="image/webp" data-srcset="img/Portfolio/granitdrev.com.ua-min.webp" class="swiper-lazy")
													source(type="image/png" data-srcset="img/Portfolio/granitdrev.com.ua-min.png" class="swiper-lazy")
													//- img(data-src="img/Portfolio/granitdrev.com.ua-min.webp", alt="" class="swiper-lazy")
													img(data-src="img/Portfolio/granitdrev.com.ua-min.png", alt="", class="swiper-lazy")
									.swiper-slide
										.portfolio-content
											.portfolio-card
												.portfolio-card-hover
													h3.portfolio-card__title
														|Mavka
												picture
													source(type="image/webp" data-srcset="img/Portfolio/mavka.style-min.webp" class="swiper-lazy")
													source(type="image/png" data-srcset="img/Portfolio/mavka.style-min.png" class="swiper-lazy")
													//- img(data-src="img/Portfolio/mavka.style-min.webp", alt="" class="swiper-lazy")
													img(data-src="img/Portfolio/mavka.style-min.png", alt="", class="swiper-lazy")
									.swiper-slide
										.portfolio-content
											.portfolio-card
												.portfolio-card-hover
													h3.portfolio-card__title
														|Oh!Clean
												picture
													source(type="image/webp" data-srcset="img/Portfolio/ohclean.com.ua-min.webp" class="swiper-lazy")
													source(type="image/png" data-srcset="img/Portfolio/ohclean.com.ua-min.png" class="swiper-lazy")
													//- img(data-src="img/Portfolio/ohclean.com.ua-min.webp", alt="" class="swiper-lazy")
													img(data-src="img/Portfolio/ohclean.com.ua-min.png", alt="", class="swiper-lazy")
									.swiper-slide
										.portfolio-content
											.portfolio-card
												.portfolio-card-hover
													h3.portfolio-card__title
														|PandoraCity
												picture
													source(type="image/webp" data-srcset="img/Portfolio/pandora.city-min.webp" class="swiper-lazy")
													source(type="image/png" data-srcset="img/Portfolio/pandora.city-min.png" class="swiper-lazy")
													//- img(data-src="img/Portfolio/pandora.city-min.webp", alt="" class="swiper-lazy")
													img(data-src="img/Portfolio/pandora.city-min.png", alt="", class="swiper-lazy")
									.swiper-slide
										.portfolio-content
											.portfolio-card
												.portfolio-card-hover
													h3.portfolio-card__title
														|StroyPartner
												picture
													source(type="image/webp" data-srcset="img/Portfolio/stroy-pr.com.ua-min.webp" class="swiper-lazy")
													source(type="image/png" data-srcset="img/Portfolio/stroy-pr.com.ua-min.png" class="swiper-lazy")
													//- img(data-src="img/Portfolio/stroy-pr.com.ua-min.webp", alt="" class="swiper-lazy")
													img(data-src="img/Portfolio/stroy-pr.com.ua-min.png", alt="", class="swiper-lazy")
									.swiper-slide
										.portfolio-content
											.portfolio-card
												.portfolio-card-hover
													h3.portfolio-card__title
														|Vic-Service
												picture
													source(type="image/webp" data-srcset="img/Portfolio/vic-service.com.ua-min.webp" class="swiper-lazy")
													source(type="image/png" data-srcset="img/Portfolio/vic-service.com.ua-min.png" class="swiper-lazy")
													//- img(data-src="img/Portfolio/vic-service.com.ua-min.webp", alt="" class="swiper-lazy")
													img(data-src="img/Portfolio/vic-service.com.ua-min.png", alt="", class="swiper-lazy")
						.swiper-outside
							.swiper-pagination
							.swiper-controls
								.swiper-control-prev.btn-control.wave
									i.large.material-icons
										|keyboard_arrow_up
								.swiper-control-next.btn-control.wave
									i.large.material-icons
										|keyboard_arrow_down


