
.portfolio.circle-section
	.circle-bg
	.preview__layer.section__layer.circle__layer
			.f-container
				.preview-content
					h1.preview__title.h1-title
						|GreensStudio2
					p.preview__description
						|Студия разработки сайтов топ 1.
					i.preview__arrow
						+svg2('triangle')


