.portfolio.circle-section
	.circle-bg
	.portfolio__layer.section__layer.circle__layer
		.cirle-hidden
		.center
			h2.h2-title.portfolio-title
					|Наши работы
			p.subtitle.portfolio-subtitle
				|Посмотрите наши кейсы и сделайте правильное решение
			.f-container
					// Slider main container
					.swiper-container
						//- .swiper-nums
						//- 	.swiper-num-current
						//- 	span
						//- 		|из
						//- 	.swiper-num-all
						// Additional required wrapper
						.swiper-wrapper
								.swiper-slide
									.portfolio-content
										.portfolio-card
											img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
										.portfolio-card
											img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
										//- .portfolio-card
										//- 	img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
										//- .portfolio-card
										//- 	img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
								.swiper-slide
									.portfolio-content
										.portfolio-card
											img(src="https://keyup.ru/wp-content/uploads/2018/09/909090.jpg", alt="")
										.portfolio-card
											img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
										//- .portfolio-card
										//- 	img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
										//- .portfolio-card
										//- 	img(src="https://keyup.ru/wp-content/uploads/2018/09/909090.jpg", alt="")
								.swiper-slide
									.portfolio-content
										.portfolio-card
											img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
										.portfolio-card
											img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
										//- .portfolio-card
										//- 	img(src="https://keyup.ru/wp-content/uploads/2018/09/909090.jpg", alt="")
										//- .portfolio-card
										//- 	img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
								.swiper-slide
									.portfolio-content
										.portfolio-card
											img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
										.portfolio-card
											img(src="https://keyup.ru/wp-content/uploads/2018/09/909090.jpg", alt="")
										//- .portfolio-card
										//- 	img(src="https://keyup.ru/wp-content/uploads/2018/09/909090.jpg", alt="")
										//- .portfolio-card
										//- 	img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
						.swiper-pagination
						.swiper-controls
							.swiper-control-prev.btn-control.wave
								i.large.material-icons
									|keyboard_arrow_up
							.swiper-control-next.btn-control.wave
								i.large.material-icons
									|keyboard_arrow_down
					.portfolio__bg-img
						img(src="img/card.png", alt="")

					//- .portfolio-card
					//- 	img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
					//- .portfolio-card
					//- 	img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
					//- .portfolio-card
					//- 	img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
					//- .portfolio-card
					//- 	img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
					//- .portfolio-card
					//- 	img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")
					//- .portfolio-card
					//- 	img(src="https://keyup.ru/wp-content/uploads/2019/07/lider.jpg", alt="")


