.preview.circle-section
	.circle-bg
	.preview__layer.section__layer.circle__layer
			//- video.preview-intro(poster="https://mdbootstrap.com/img/Photos/Horizontal/Things/full%20page/img%20%287%29.jpg" playsinline="" autoplay="" muted="" loop="")
			//- 	source(src="video/Bokeh - 4413.mp4" type="video/mp4")
			canvas(width="100%" height="100%")
			.f-container
				.preview-content
					h1.preview__title.h1-title
						|GreensStudio
					p.preview__description
						|Студия разработки сайтов топ 1.
					i.preview__arrow
						+svg2('triangle')

