.preview.circle-section.scrollmagic-elem
	.circle-bg
	.preview__layer.section__layer.circle__layer
			//- canvas(width="100%" height="100%")
			.preview-bg
			.preview-shapes
				.preview-shape1-wrap
					.preview-shape1
				.preview-shape-img
					picture
						source(type="image/webp" data-srcset="img/mobile-preview.webp")
						source(type="image/png" data-srcset="img/mobile-preview.png")
						img(src="img/mobile-preview.png", alt="Sprout")
				.preview-shape2-wrap
					.preview-shape2
				.preview-shape3-wrap
					.preview-shape3
			.preview-circle2
				i
					+svg2('Group-11')
			//- .preview-circle
			//- 	i
			//- 		+svg2('Group-11')
			.preview-widget
				.preview-rotate
					+svg2('01-icon')
					+svg2('02-icon')
					+svg2('03-icon')
					+svg2('04-icon')
					+svg2('05-icon')
					+svg2('06-icon')
					+svg2('01-icon')
					+svg2('02-icon')
					+svg2('03-icon')
					+svg2('04-icon')
					+svg2('05-icon')
					+svg2('06-icon')
					+svg2('01-icon')
					+svg2('02-icon')
					+svg2('03-icon')
					+svg2('04-icon')
					+svg2('05-icon')
					+svg2('06-icon')
					+svg2('01-icon')
					+svg2('02-icon')
					+svg2('03-icon')
					+svg2('04-icon')
					+svg2('05-icon')
					+svg2('06-icon')
					+svg2('01-icon')
					+svg2('02-icon')

			.f-container

				.preview-content
					h2.preview__title-primary
						|Web Agency
					h1.preview__title.h1-title
						|Greens.Studio
					p.preview__description
						|Ваши идеи - наши решения. 
						span
							|Обсудим. Продумаем. Сделаем.
			i.preview__arrow.circle-nav-link(data-index="1")
				+svg2('triangle')

