.about {
	// height: 100%;
}

.about__layer {
	height: 100%;
	.fPa(120%, 150%/2, 120px, 150px/2, 1600px, 1920px);
	min-height: 840px;

	.center, .f-container {
		height: 100%;
	}

	.f-container
}


.about__right {
	flex: 0 1 60%;
}


.about__left {
	flex: 0 1 40%;
	img {
		max-width: 360px;
	}
}