.feedback {
	// background: cyan;
	.circle-bg {
			// background: url(../img/banner-bg.jpg);
			// background-repeat: no-repeat;
			// // background-size: contain;
			// background-position: center;
			background: yellow;
	}

	.center {
		height: 100%;
		.fPa(120%, 150%/2, 120px, 150px/2, 1230px, 1920px);
	}

	.f-container {
		flex-wrap: nowrap
	}


}

.feedback-title {
	text-align: center;
	color: @font-color;
	width: 100%;
}

.feedback-subtitle {
	color:  @font-color;
	font-family: 'Nunito', sans-serif;
}

.feedback__layer {
	height: 100%;
	// background: url(../img/Abstract-Geometric-Background-Green.jpg) no-repeat 150%/contain;
	.f-container {
		height: 100%;
	}
}
