.feedback {
	// background: cyan;
	.circle-bg {
			// background: url(../img/banner-bg.jpg);
			// background-repeat: no-repeat;
			// // background-size: contain;
			// background-position: center;
			background: @teal;
	}

	.center {
		// height: 100%;
    .fPa(20%, 40%/2, 20px, 40px/2, 1600px, 1920px);
			& > * {
			position: relative;
			z-index: 2;
		}
	}

	.f-container {
		flex-wrap: nowrap;
	
	}


}

.feedback-circle {
	position: absolute;
	z-index: 0;
  opacity: 0.6;
}


.feedback-circle1 {
	width: 18%;
	height: 18%;
	position: absolute;
	border-radius: 50%;
	left: 82%;
  top: 84%;

      svg {
    fill: @teal;
    width: 100%;
    height: 100%;
  }

}

.feedback-circle2 {
	width: 30px;
	height: 30px;
	position: absolute;
	border-radius: 50%;
	top: 25%;
	left: 44%;

  svg {
    fill: @teal;
    width: 100%;
    height: 100%;
  }
}


.feedback-circle3 {
	width: 23%;
	height: 23%;
	position: absolute;
	top: 68%;
	left: 10%;

		svg {
		fill: @teal;
		width: 100%;
		height: 100%;
	}

}

.feedback-circle4 {
	width: 45px;
	height: 45px;
	position: absolute;
	background: linear-gradient(135deg, @teal, @main-color);
	border-radius: 50%;
	top: 10%;
	left: 79%;
}

.feedback-circle5 {
	width: 90px;
	height: 90px;
	position: absolute;
	top: 18%;
	left: 72%;

		svg {
		fill: @main-color;
		width: 100%;
		height: 100%;
	}
}

.feedback-circle6 {
	width: 80px;
	height: 80px;
	position: absolute;
	background: @yellow;
	border-radius: 50%;
	top: 75%;
	left: 58%;
}

.feedback-title {
	text-align: center;
	// color: @font-color;
	width: 100%;
  position: relative;
  z-index: 2;
}

.feedback-subtitle {
	color:  @font-color;
    position: relative;
  z-index: 2;
	// font-family: 'Nunito', sans-serif;
}

.feedback__layer {
	height: 100%;
	background: url(../img/background-portfolio.svg) no-repeat center;
	background-position: center 380px;
	background-size: 100%;
	position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: @white;
    // z-index: 1;
  }
	 &:after {
    content: '';
    width: 50%;
    height: 50%;
    top: 50%;
    right: -3%;
    transform: translateY(-50%);
    position: absolute;
    background: url(../img/feedback-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    // z-index: 1;
  }}

.feedback__tabs-controls {
	width: 100%;
	display: flex;
	justify-content: center;
  margin-bottom: 35px;
}

.feedback__tabs-controls-list {
	background: @light-gray;
	font-family: 'Nunito', sans-serif;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 45px;
	// box-shadow: inset 0px -1px 5px 0px @font-color;
  // box-shadow: inset 4px 3px 8px rgba(@font-color, 0.3), inset -4px -4px 8px white;
  position: relative;

  &> * {
  	position: relative;
  	z-index: 2;
  }
  &:before {
  	content: '';
  	width: 45px;
  	height: 100%;
  	left: 0;
  	top: 0;
  	background: @main-color;
  	position: absolute;
  	border-radius: 45px;
  	z-index: 0;
  	transition: all 0.45s ease-in-out;
  }

  &:after {
  	content: '';
  	width: 45px;
  	height: 100%;
  	left: 0;
  	top: 0;
  	background: @main-color;
  	position: absolute;
  	border-radius: 45px;
  	z-index: 0;
  	transition: all 0.52s ease-in-out;
  }


  &[data-active="video"] {
  	&:before {
			width: 86px;
  	}

  	&:after {
  		width: 86px;
  	}
  }


  &[data-active="screenshot"] {
  	&:before {
			width: 116px + 30px;
			left: 88px;
  	}

  	&:after {
  			width: 116px + 30px;
				left: 88px;
  	}
  }

   &[data-active="audio"] {
  	&:before {
			width: 86px;
			left: 60px + 117px + 60px;
  	}

  	&:after {
			width: 86px;
			left: 60px + 117px + 60px;
  	}
  }

   &[data-active="text"] {
  	&:before {
			width: 82px;
			left: 60px + 130px + 55px + 90px;
  	}

  	&:after {
			width: 82px;
			left: 60px + 130px + 55px + 90px;
  	}
  }

}

.feedback__tabs-controls-list-item {
		padding: 10px 20px;
		cursor: pointer;
		border-radius: 45px;
		transition: all 0.45s linear;
		&.waves-float {
			box-shadow: none;
		}

		&.waves-button {
			font-size: unset;
			line-height: unset;
		}

		&:hover {
			background: transparent;
		}

		&:active {
			background: transparent;
		}
	&:not(:last-child) {
		margin-right: 10px;
	}
	&.active {
			color: @white;
	}
}


.feedback__tabs {
    flex: 0 1 100%;
    height: 100%;
    position: relative;
    width: 100%;
    max-height: 480px;
    padding: 15px;

       .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
}

.feedback__tab {
		width: 100%;
    // flex: 0 1 100%;
    max-height: 320px;
    height: 20vw;
    min-height: 200px;
    min-width: 340px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    // max-height: 320px;
   	background: @white;
    box-shadow: 0px 2px 3px -4px rgba(0, 0, 0, 0.2), 0px 6px 7px 2px rgba(0, 0, 0, 0.14), 0px 5px 7px 4px rgba(0, 0, 0, 0.12);
    &:not(:last-child) {
    	margin-bottom: 15px;
    }
}


.feedback__tabs .swiper-slide {
	// position: absolute;
	// opacity: 0;
	// visibility: hidden;
	// transition: opacity 0.25s linear;

	// &.active {
	// 	visibility: visible;
	// 	animation: opac 0.8s linear forwards;
	// }
}


// @keyframes opac {
// 	from {
// 		opacity:0;
// 	}
// 	to {
// 		opacity: 1;
// 	}
// }

.feeaback-left {
	flex: 0 1 75%;
	height: 100%;
	overflow-x: hidden;
}


.feedback-text, .feedback-audio {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 15px;
}


.feedback-text__left, .feedback-audio__left {
	flex: 0 1 25%;
	display: flex;
	margin-right: 25px;
	justify-content: center;
	align-items: center;
}

.feedback-text__img-wrap, .feedback-audio__img-wrap {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
    background: rgb(242, 243, 243);
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: contain;

		}
}

.feedback-text__right, .feedback-audio__right{
	flex: 0 1 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Nunito', sans-serif;
	align-items: flex-start;
}

.feedback-text__name, .feedback-audio__name {

	 .fSize(24vw, 24px * (1200/1600), 24px, 1200px, 1600px);
	 color: @main-color;
	 text-align: left;

}

.feedback-text__text {
	text-align: left;
  max-height: 125px;
  overflow-y: auto;
  padding-right: 10px;
  cursor: auto;
  span {
    color: @main-color;
    font-weight: 600;
  }
  &::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}

&::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

&::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: @main-color;
}

}


// .test {
// 	width: 100vw;
// 	height: 100vh;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	padding: 85px
// }





.feedback-popup .feedback__social {
  img {
    margin-bottom: 0;
  }
  width: 100%;
  max-width: unset;
  justify-content: center;
  margin-bottom: 25px;
  i {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.feedback-audio__sound {
  background: rgba(@teal, 0.8);
  border-radius: 28px;
  width: 100%;
  max-width: 602px;
  display: flex;
  align-items: center;
  height: 45px;
  position: relative;
  & > .feedback-audio__sound-text {
    position: relative;
    z-index: 4;
    pointer-events: none;
  }
  // overflow: hidden;
  .feedback-audio__sound-progress-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 28px;
    overflow: hidden;
    cursor: pointer;
  }
  .feedback-audio__sound-progress {
    position: absolute;
    transition: all 0.1s linear;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: @main-color;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
  }
  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.feedback-audio__sound-icons {
  position: relative;
  width: 30px;
  height: 30px;
  border-right: 50%;
  margin-left: 10px;
  .feedback-audio__sound-play {
    cursor: pointer;
    position: absolute;
    transition: all 0.1s linear;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: @main-color;
    border-radius: 50%;
    svg {
      display: none;
			pointer-events: none;
      &:first-child {
        max-width: 7px;
        max-height: 10px;
        fill: @white;
      }

      &:nth-child(2) {
        max-width: 7px;
        max-height: 10px;
        fill: @black;
      }
    }

    .active-state {
      display: flex;
    }
  }

  .paused {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: @white;
    border-radius: 50%;
  }
}

.feedback-audio__sound-text {
  color: @white;
  padding-left: 19px;
  font-size: 14/16 * 1rem;
  line-height: 22px;
}

.feedback-audio__info {
  justify-content: flex-start;
}

.feedback-audio__info-text {
  color: #fff;
  max-width: 500px;
}

.feedback-audio__info-icon {
  margin-right: 30px;
}

.feedback-screenshot {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(@black, .6);
    z-index: 1;
  }
}

.feedback-screenshot, .feedback-video {
	position: relative;
	width: 100%;
	height: 100%;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.feedback-video {
	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 3;
	}
}

.play { 
  background: red;
   border-top-left-radius: 50% 10%;
  border-top-right-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  border-bottom-left-radius: 50% 10%;
  color: #FFFFFF;
  font-size: 1em; /* change this to change size */
  height: 3em;
  // margin: 20px auto;
  padding: 0;
  position: absolute;
  text-align: center;
  text-indent: 0.1em;
  transition: all 150ms ease-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4em;
  cursor: pointer;
}

.play:hover {
  background: darkorange;
}

.play::before { 
  background: inherit;
  border-top-left-radius: 5% 50%;
  border-top-right-radius: 5% 50%;
  border-bottom-right-radius: 5% 50%;
  border-bottom-left-radius: 5% 50%;
  bottom: 9%;
  content: "";
  left: -5%;
  position: absolute;
  right: -5%;
  top: 9%;
}

.play::after {
  border-style: solid;
  border-width: 1em 0 1em 1.732em;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
  content: ' ';
  font-size: 0.75em;
  height: 0;
  margin: -1em 0 0 -0.75em;
  top: 50%;
  position: absolute;
  width: 0;
}


.feedback-right {
  position: relative;
  flex: 0 1 25%;

  img {
    width: auto;
    min-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 65%;
    max-width: 150%;
    transform: translate(-50%,-50%);
    z-index: 0;
  }
}

.feedback-audio__contacts, .feedback-text__contacts {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .feedback__tabs-wrapper {
//   justify-content: center;
// }


