.leave-contact {
	  position: fixed;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: auto;
    right: auto;
    box-sizing: border-box;
    width: 100%;
    // height: 100%;
	// padding-bottom: 1500px;
}


.leave-contact__layer {
	  position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: rgba(yellow, 0.4);
    

    .center {
    	 min-height: 100vh;
    	 padding: 64px 30px;
    		height: auto;
    }
    .f-container {
    	
			min-height: 100%;
    	height: calc(100vh - (64px * 2));
			align-items: stretch;
			justify-content: center;
			flex-wrap: nowrap;
    }
}


.leave-contact__left {
	flex: 0 1 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.leave-contact__right {
	flex: 0 1 40%;
}

.leave-contact__form-wrapper {
	  box-shadow: 0px 15px 70px 0px rgba(@teal, .66);
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 50px 1px;
    max-width: 90%;
    min-width: 90%;
		background-color: transparent;
    background-image: linear-gradient(135deg, @teal, @main-color);
    border-radius: 25px;
    padding: 85px 55px;
    margin-left: auto;
    margin-right: auto;
}
.leave-contact__form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
 
}


.leave-contact__form-group {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;

	&:not(:last-child) {
		margin-bottom: 25px;
	}

	.form-group-wrap {
			margin-bottom: 0;
			width: 100%;
			max-width: 275px;
			display: flex;
			justify-content: center;

			.tap-popup__form-ico {
				// left: 44px;
			}
	}

	.form-group {
		max-width: 275px;
	}

	.text-field {
		max-width: 100%;
	}
}

.leave-contact__btn {
	max-width: 275px;

	.btn-text {

    display: flex;
    align-items: center;
    justify-content: center;

    i {
    	margin-left: 10px;
    }
	}
}


.leave-contact__right {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;	

}

.leave-contact__shapes {
	position: absolute;	
	width: 	100%;
	max-width: 100%;
	top: 	50%;
	left:  50%;
	transform: translate(-50%, -50%);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}


.leave-contact__shape1 {
	width: 	520px;
	height: 	520px;
	background: rgba(@main-color, 0.4);
	border-radius: 50%;
	margin: 0 auto;
	position: absolute;	
	top: 	50%;
	left:  51%;
	transform: translate(-50%, -50%);
	z-index: -1;
}


.leave-contact__shape2 {
	width: 	480px;
	height: 	480px;
	background: @teal;
	border-radius: 50%;
	margin: 0 auto;

}

.leave-contact-title {
	margin-bottom: 15px;
}

.leave-contact__img {
	position: relative;	
	z-index: 2;
}