.header {
	height: 64px;
	line-height: 64px;
	position: fixed;
	width: 100%;
	z-index: 99;
	font-weight: 700;
	font-family: 'Nunito', sans-serif;
	&.active {
		.header__layer {
			background: @accent;
			border-color: @accent;
			height: 100%;

		}
		.header__top-nav-link {
			color: @white;
		}

		.main-btn {
			background: @white;
			color: @accent;
			&:hover {
      	color: @white;
    	}
			& .btn-overlay {
				&:after {
					background-color: @teal;
				}
			}
		}
	}
}


.header__layer {
	// background: linear-gradient(135deg, @teal, @main-color);
	background: @white;
	height: 100%;
	border-color: @main-color;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.08), 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
	transition: background 0.25s linear;

	.f-container {
		height: 100%;
	}
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.header__top-logo {
	flex: 0 1 33%;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	img {
		max-width: 125px;
	}
}

.header__top-btn {
	flex: 0 1 33%;
	padding: 0 15px;
	.main-btn {
		background: @teal;

		.btn-overlay {
			color: @white;
			&:after {
				background: @accent;
			}
		}

		&:hover {
			.btn-overlay{
				&:after {
					background: @accent;
					// color: @white;
				}
			}

			// .btn-text {
			// 	color: @white;
			// }
		
			
		}
	}
}

.header__top-nav {
	flex: 0 1 33%;
	display: flex;
	justify-content: flex-end;
}

.header__logo-ico {
	// max-width: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		max-width:85px;
		max-height: 45px;
	}
}


.header__top-nav-list {
	display: flex;
	justify-content: space-between;
}

.header__top-nav-list-item {
	margin: 0 10px;
}

.header__top-nav-link {
	color: @font-color;
}


.mobile__nav-list {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	transform: translateX(100%);
	max-width: 360px;
	height: 100vh;
	background: @accent;
}

.mobile__nav-link {
	color: @white;
	text-align: center;
}






.burger-wrap  {
	width: 45px;
	height: 64px;
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.burger {
		position: relative;
		width: 20px;
		height: 14px;
	}

	span {
		background: @accent;
		display: block;
		position: absolute;
		width: 20px;
		height: 2px;
		left: 50%;
		transform: translateX(-50%);

		&:nth-child(1) {
			top: 0%;
		}

		&:nth-child(2) {
			top: 50%;
			// transform: translate(-50%, -50%);
		}

		&:nth-child(3) {
			top: 100%;
		}
	}
}

.close-burger-wrap {
	width: 45px;
	height: 64px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-left: auto;

	.close-burger {
		position: relative;
		width: 20px;
		height: 14px;
	}

	span {
		background: @white;
		display: block;
		position: absolute;
		width: 20px;
		height: 2px;
		left: 50%;
		transform: translateX(-50%);

		&:nth-child(1) {
			top: 50%;
			transform: translateX(-50%) rotate(45deg)
		}

		&:nth-child(2) {
			top: 50%;
			transform: translateX(-50%) rotate(135deg)
			// transform: translate(-50%, -50%);
		}
	}
}