extends pug/base



append vars
	- meta.keywords = 'студия разработки сайтов, создание сайтов под ключ в украине, заказать сайт недорого, создание лендингов, создание интернет-магазинов, создание сайтов-визиток, создание сайтов под ключ, разработка логотипа, аудит сайта'
	- meta.themeColor = '#1a8374'
	- meta.ogImage = '/img/logo.png'
	- meta.ogImageWidth = '1200'
	- meta.ogImageHeight = '630'
	- meta.ogImageType = 'image/png'
	- meta.ogImage = '/img/logo-s.png'
	- meta.ogImageWidth = '1200'
	- meta.ogImageHeight = '630'
	- meta.ogImageType = 'image/png'
	- meta.ogUrl = 'https://greens.studio/'
	- meta.appleMobileWebAppCapable = 'on'
	- meta.appleMobileWebAppStatusBarStyle = '#1a8374'
	- meta.appleMobileWebAppTitle = 'Студия разработки сайтов Greens Studio'
	- meta.applicationName = 'Студия разработки сайтов Greens Studio'
	- meta.XUACompatible = 'IE=edge'
	- link.appleTouchIconPrecomposed = '15'
	- link.icon16x16 = 'favicon-16x16.png'
	- link.icon32x32 = 'favicon-32x32.png'
	- link.icon96x96 = 'favicon-96x96.png'
	- link.icon128x128 = 'favicon-128x128.png'
	- link.icon196x196 = 'favicon-196x196.png'

prepend vars
	- title = 'Студия разработки сайтов Greens Studio'
	- description = 'Хотите заказать сайт недорого? Мы занимаемся созданием лендингов, интернет-магазинов и сайтов-визиток под ключ в Украине. Предлагаем разработку логотипа, аудит сайта и поддержку.'



block head-end


		
block links
	link(href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet")
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel="shortcut icon" type="image/png" href="img/favicon.png")










block content
	.main-wrapper
		
		main
			include pug/layouts/header
			.scrollmagic
				include pug/layouts/preview
				include pug/layouts/services2
				include pug/layouts/portfolio
				include pug/layouts/feedback
				include pug/layouts/form
			//- include pug/layouts/services
			include pug/layouts/about
			//- include pug/layouts/present
			include pug/layouts/footer
		include pug/layouts/_popup

